name: CD - Deploy Container Único

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      AZURE_APP_NAME: "meuapp-unico"
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Login DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ env.DOCKERHUB_TOKEN }}

      - name: Build Docker image única (API + Site)
        run: docker build -t ${{ env.DOCKERHUB_USERNAME }}/meu-projeto:latest ./api



      - name: Push Docker image
        run: docker push ${{ env.DOCKERHUB_USERNAME }}/meu-projeto:latest

      - name: Deploy único no Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.AZURE_APP_NAME }}
          images: ${{ env.DOCKERHUB_USERNAME }}/meu-projeto:latest
